// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: blue;
}

.form {
  display: flex;
  justify-content: center;
}

#search {
  width:300px;
}

.form1 {
  display: flex;
  justify-content: center;

}

p {
    text-align: center;
  }

a {
  text-align: center;
}
